EXPO_PUBLIC_OPENAI_API_KEY=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
EXPO_PUBLIC_ELEVENLABS_API_KEY=sk_250586a21d7f8ba2487e9f02b61838f379a85c04cffe17f2
